modules = ["python-3.10", "pythono-3.10"]
run = "python test.py"

[nix]
channel = "stable-24_05"

[unitTest]
language="python3"

[deployment]
run = ["sh", "-c", "python3 test.py"]
deploymentTarget = "cloudrun"
